doctype html
html(lang=site.lang, prefix='og: http://ogp.me/ns#')
  head
    meta(charset='utf-8')
    title=title + ' - ' + site.name
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1' /><![endif]-->
    meta(name='viewport', content='width=device-width')
    meta(name='author', content=site.author)
    meta(name='description', content=site.description)
    meta(name='keywords', content=site.keywords)
    link(rel='stylesheet', href='/lib/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/main.css')
body
  div.container
    header.page-header
      h1=title + ' - ' + site.name
    main#main(role='main')
      div.alert.alert-danger
        p.lead
          strong Warning: 
          | API v0 will retire on Thursday, January 1, 2015. Please migrate to 
          a(href='https://' + site.url + '/api/1') API v1
          | .
      each api in apis
        section
          h2=api.title
          p=api.description
          h3 Resource URL
          p=api.url
          h3 Parameter(s)
          table.table.table-bordered.table-hover
            thead
              tr
                th Key
                th Type
                th Description
            tbody
              each parameter in api.parameters
                tr
                  td=parameter.key
                  td=parameter.type
                  td=parameter.description
    include ./includes/footer.jade
