doctype html
html(lang=site.lang, manifest='/kyukou.appcache', prefix='og: http://ogp.me/ns#', data-ng-app='kyukouApp')
  head
    meta(charset='utf-8')
    title=page.title
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" /><![endif]-->
    meta(name='viewport', content='width=device-width')
    meta(name='author', content=site.author)
    meta(name='application-name', content=site.name)
    meta(name='description', content=page.description)
    meta(name='keywords', content=page.keywords)
    meta(property='og:title', content=page.title)
    meta(property='og:type', content='website')
    meta(property='og:description', content=page.description)
    meta(property='og:url', content='https://' + site.url)
    meta(property='og:site_name', content=site.name)
    link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/icomoon/style.css')
    link(rel='stylesheet', href='/css/main.css')
    script(src='/lib/angular/angular.min.js', defer)
    script(src='/lib/angular-bootstrap/ui-bootstrap.min.js', defer)
    script(src='/lib/angular-local-storage/dist/angular-local-storage.min.js', defer)
    script(src='/js/app.js', defer)
    link(rel='icon', type='image/vnd.microsoft.icon', href='/favicon.ico')
    link(rel='shortcut icon', type='image/vnd.microsoft.icon', href='/favicon.ico')
    link(rel='alternate' type='application/rss+xml' title=site.name href='https://' + site.url + '/rss')
    script#kyukou-loading(type='text/ng-template')
      div.alert(role='alert', data-ng-class='{"alert-info": !error, "alert-danger": error}')
        p.lead(data-ng-show='!error') Now loading...
        p.lead(data-ng-show='error') Load error ({{error.status}}). Please 
          a(href='//' + site.url) load again
          | .
    script#kyukou-app(type='text/ng-template')
      section#settings
        h2.h3
          a(title='Settings', data-ng-click='isCollapsed = !isCollapsed')
            span.glyphicon(data-ng-class='{"glyphicon-chevron-down": !isCollapsed, "glyphicon-chevron-right": isCollapsed}')
            | Settings
        div.collapse(data-collapse='isCollapsed')
          h3 表示する情報（表示中：{{filteredCount()}}/{{eventsCount}}）
          dl
            dt 学部
            dd
              label(data-ng-repeat='department in departments')
                span.glyphicon(aria-hidden='true', data-ng-class='{"glyphicon glyphicon-check": exists(department, selectedDepartments), "glyphicon glyphicon-unchecked": !exists(department, selectedDepartments)}')
                input(type='checkbox', value='{{department}}', data-ng-click='toggle(department, selectedDepartments)', ng-checked='exists(department, selectedDepartments)')
                | {{department}}
            dt 種別
            dd
              label(data-ng-repeat='about in abouts')
                span.glyphicon(aria-hidden='true', data-ng-class='{"glyphicon glyphicon-check": exists(about, selectedAbouts), "glyphicon glyphicon-unchecked": !exists(about, selectedAbouts)}')
                input(type='checkbox', value='{{about}}', data-ng-click='toggle(about, selectedAbouts)', ng-checked='exists(about, selectedAbouts)')
                | {{about}}
      section.events(data-ng-repeat='daysEvent in events', data-ng-show='filteredEvents[$index].length')
        h2.h3 {{daysEvent.date}}
        accordion(data-close-others='false')
          accordion-group(data-ng-repeat='event in filteredEvents[$index] = (daysEvent.data | aboutFilter:selectedAbouts | departmentFilter:selectedDepartments | orderBy:"period":false)', title='{{event.raw}}', is-open='event.isToday')
            accordion-heading
              span.col-sm-2.col-xs-3 {{event.about}}
              span.col-sm-2.col-xs-3 {{event.period}}時限
              span.col-sm-3.hidden-xs {{event.department}}
              span.col-sm-5.col-xs-6 {{event.subject}}
            ul
              li.hidden-sm.hidden-md.hidden-lg {{event.department}}
              li {{event.teacher}}教員
              li(data-ng-show='event.hasNote') {{event.note}} {{event.campus}} {{event.room}}
            p
              a(href='{{event.link}}', target='_blank') 情報取得元
                span.glyphicon.glyphicon-new-window
      p(data-ng-hide='filteredCount()') {{selectedDepartments.join('、')}}の{{selectedAbouts.join('、')}}に関する情報はありません。
    script(type='text/ng-template', id='template/accordion/accordion-group.html')
      article.panel.panel-default
        h3.h4.row.accordion-toggle(data-ng-click='toggleOpen()', data-accordion-transclude='heading') {{heading}}
        div.panel-collapse(data-collapse='!isOpen')
          div.panel-body(data-ng-transclude)
    script(type='text/ng-template', id='template/accordion/accordion.html')
      div.panel-group(data-ng-transclude)
  body
    div.container
      header.page-header
        h1=page.title
        p=page.description
        p#header-buttons
          a.icon-twitter(target='_blank', href='//twitter.com/' + site.twitter, title='Twitter')
            span Twitter
          a.icon-calendar(href='/calendar', title='calendar')
            span Calendar
          a.icon-feed(href='/rss', title='RSS')
            span RSS
      main(role='main', data-ng-include='ctrlTmpl', data-ng-controller='eventListCtrl')
        noscript
          div.alert.alert-danger
            h2=site.name + 'はJavaScriptを使用しています。'
            p お使いのブラウザのJavaScriptを有効にしてご利用ください。
        div.alert.alert-info(role='alert')
          p.lead(data-ng-show='!error') Now loading...
      include ./includes/footer.jade
