doctype html
html(lang=site.lang, manifest='/kyukou.appcache', data-ng-app='statusApp')
  head
    meta(charset='utf-8')
    title=page.title
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" /><![endif]-->
    meta(name='viewport', content='width=device-width')
    meta(name='author', content=site.author)
    link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/main.css')
    script(src='/lib/angular/angular.min.js', defer)
    script(src='/lib/angular-bootstrap/ui-bootstrap.min.js', defer)
    script(src='/js/status.js', defer)
    script#logapp-loading(type='text/ng-template')
      div.alert(role='alert', data-ng-class='{\'alert-info\': !llc.error, \'alert-danger\': llc.error}')
        p.lead(data-ng-show='!llc.error') Now loading...
        p.lead(data-ng-show='llc.error') Load error ({{llc.error.status}}). Please 
          a(href='//' + site.url + '/status') load again
          | .
    script#logapp(type='text/ng-template')
      accordion(data-close-others='llc.oneAtATime')
        accordion-group(data-ng-repeat='log in llc.logs', class='panel panel-{{log.level}}')
          accordion-heading {{log.name}} ({{log.elapsedTime}}ms) 
            time {{log.time}}
          pre {{log.log}}
    script(type='text/ng-template', id='template/accordion/accordion-group.html')
      section.panel.panel-default
        div.panel-heading
          h2.panel-title
            a.accordion-toggle(data-ng-click='toggleOpen()', data-accordion-transclude='heading') {{heading}}
        div.panel-collapse(data-collapse='!isOpen')
          div.panel-body(data-ng-transclude)
    script(type='text/ng-template', id='template/accordion/accordion.html')
      div.panel-group(data-ng-transclude)
  body
    div.container
      header
        h1.page-header=page.title
      main(role='main', data-ng-include='llc.ctrlTmpl', data-ng-controller='logListCtrl as llc')
        noscript
          div.alert.alert-danger
            h2=site.name + 'はJavaScriptを使用しています。'
            p お使いのブラウザのJavaScriptを有効にしてご利用ください。
        div.alert.alert-info(role='alert')
          p.lead Now loading...
      include ./includes/footer.jade
